.form-terms {
    margin: 0 auto;
    max-width: 220px;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    color: var(--color-dark);

    &__link {
        color: var(--color-dark);
        text-underline-offset: 2px;
    }
}

