.hero-section {
    padding: 125px 0;
    background: linear-gradient(89.38deg,
            var(--color-light) 30.62%,
            rgba(255, 255, 255, 0.850898) 41.31%,
            rgba(255, 255, 255, 0.193204) 58.65%,
            rgba(255, 255, 255, 0) 72.78%),
        url(../images/woman-makes-face-massage.png);
    background-repeat: no-repeat;
    background-position: top;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        margin: 0;
    }

    &__top {
        font-size: 18px;
        line-height: 1.2;
        padding-bottom: 16px;
    }

    &__title {
        color: var(--color-primary-light);
        font-size: 140px;
        font-weight: 700;
        line-height: 0.8;
        padding-bottom: 40px;
        font-family: 'Play';
        text-transform: capitalize;
        margin: 0;
    }

    &__bottom {
        padding-top: 14px;
        color: #4A4A4A;
        font-size: 12px;
        line-height: 1.5;
        text-align: center;
        width: 100%;
        max-width: 238px;
    }
}

